 /*Formatação da página*/

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: #033f37;
}

/*Header*/

.headerBack{
    height: 96px;
    width: 100%;
}
.header{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    height: 96px;
    width: 100%;
    border-bottom: 4px solid #001d15;
}

#logo img{
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 20%;
}
#logo img:hover{
    height: 90px;
    width: 90px;
    margin: 5px;
}

#lado-esquerdo ul li{
    position: relative;
    display: inline-flex;
    margin-right: 20px ;    
}
#lado-esquerdo ul li a{
    color: #032c22;
    font-size: 1.5rem;
    font-weight: 700;
}

#lado-esquerdo ul li a:hover{
    color: #999999;
    font-size: 1.5em;
    cursor: pointer;
    
}

   /*Main*/

   /*Banner*/
.banner{
    height: 500px;
    margin: 40px 13% 0 13%;
    border: solid 7px #ffffff;
    
}

.banner img{
    width: 100%;
    height: 100%;
}

#subtitulo{
    margin: 0 auto;
    font-style: italic;
}

#subtitulo{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    font-size: 3rem;
}

/*Área de onde ficará os produtos*/

.rolo-de-produtos{
    margin:20px 12% 0 12% ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

/*Cartão dos produtos*/

.produto img{
    width: 100%;
    border-radius: 20px;
    max-height: 170px;
}
.produto{
    background-color: #ffffff;
    width: 200px;
    padding: 20px;
    margin: 5px;
    border: 2px solid #033f37;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: 700;
}

#preco{
    margin-top: 10px;
    background-color: #033f37;
    width: 103px;
    padding: 5px;
    border-radius: 10px;
    color: #ffffff;
    padding: 2px;
    border: none;
}
.comprar{/*ícone do carrinho de compras*/
    width: 103px;
    margin-top: 10px;
    background-color: #033f37;
    padding: 5px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: 600;
    border: none;
}
.comprar:hover{
    cursor: pointer
}

/*Fim do main*/

/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    color: #033f37;
    
}
footer p{
    font-size: 2em;

}